In [20]:
name=input("what's your name ?")
print(name)

arthur

In [40]:
total_number_of_friends,total_amount_spent = input("How many friends traveled with you ?"), input("How much dis you spent ?")
print(total_number_of_friends,total_amount_spent)
print ( total_amount_spent)

5 1000
1000

In [23]:
print("total_number_of_friends: {}".format(total_number_of_friends))
print("total_amount_spent:{}".format(total_amount_spent))

total_number_of_friends: 5
total_amount_spent:1000

In [26]:
a = 10 


print (a + 5)
print (a - 5)
print (a * 2)
print (a / 2)
print (a **2)

15
5
20
5.0
100

In [27]:
b = 32
print(a + b)
print(a / b)
print(a **b)

42
0.3125
100000000000000000000000000000000

In [28]:
c =     a * b 
print (c)

320

In [29]:
type(total_amount_spent)

str

In [ ]:

total_amount_spent = int(total_amount_spent)
total_number_of_friends = int( total_number_of_friends )
print ( total_number_of_friends * total_amount_spent)
split_amount = total_amount_spent / total_number_of_friends 
print ("each person should pay : {} €".format(split_amount))

5000
each person should pay : 200.0 €

In [43]:
print(f" d est de type: {type(a/b+a)}")

 d est de type: <class 'float'>